body {
  font-family: "Noto Sans", "PT Sans", Helvetica, Arial, sans-serif;
  background: white;
  color: #111;
}

section {
  margin: 0 auto;
  width: 90%;
}

header {
  font-size: 400%;
  text-align: center;
  font-family: Lobster, Impact, sans-serif;
  padding: 0.5em;
  color: red;
}

header a, header a:visited {
  color: red;
  text-decoration: none;
}

header a:hover {
  color: darkred;
}

strong {
  font-weight: bold;
  color: red;
}

code {
  font-family: Consolas, monospace;
}

p {
  line-height: 125%;
  margin: 0 auto;
  width: 50%;
  padding-bottom: 1em;
}

#container {
  text-align: center;
}

#games
{
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
  text-align: left;
}
#games tr {
  height: 40px;
}
#games th
{
  font-family: Lobster, Impact, sans-serif;
  font-size: 150%;
  font-weight: bold;
  color: red;
  padding: 10px 8px;
  border-bottom: 2px solid lightgrey;
}
#games td
{
  padding: 9px 8px 0px 8px;
  vertical-align: middle;
}

footer {
  border-top: 2px solid lightgrey;
  padding: 1em;
  margin: 0 auto;
  width: 100%;
  font-size: 75%;
  text-align: center;
}

a, a:visited {
  color: black;
}

a:hover {
  color: red;
}