<!doctype html>
<html>
<head>
  <title>Steam Game Data</title>
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic|Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/reset.css" type="text/css">
  <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
  <section>
    <header>Steam Friends Graph</header>
    <footer>
      Created by <a href="http://www.tomshen.me/">Tom Shen</a>.
    </footer>
  </section>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script type="text/javascript">var steamid = '{{ steamid }}'</script>
</body>
</html>